@model IEnumerable<FitnessMVC.Models.Instructor>
@{
    ViewBag.Title = "Index";
}

<h2>Naš tim</h2>

@if (!Model.Any())
{
    <p>Nema instruktora...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>             
                <th></th> 
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instruktor in Model)
            {
                <tr>
                    <td><a href="~/Content/@instruktor.ImagePath" data-lightbox='slika + @instruktor.Id'><img src="~/Content/@instruktor.ImagePath" alt="instruktor" height="90" /></a></td>
                    <td>@instruktor.Name</td>
                    <td>@instruktor.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

